{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block content %}
<div class="container">
    <center>
        <div class="row">

            <div class="column"></div>
            <div class="column">{{wtf.quick_form(registration_form)}}</div>
        </div>
    </center>

</div>
<style>
    body {
        background-image: url(https://assets.onesha.co.ke/images/uploads/project-images/onesha_11bf5724f6f338169d0f4ae2a5aaadb3.jpg);
    }

    .square {

        height: 500px;
        width: 500px;
        background-color: #555;
    }

    .column {
        float: left;
        width: 50%;
    }

    /* Clear floats after the columns */
    .row:after {
        content: "";
        display: table;
        clear: both;
    }
</style>
{% endblock%}