{%  %}
{% block content %}
<div class="row">
        <div class="well well-lg">
            <div class="col-md-4">
              <div class="jan">
                <img src="images/isso.jpg" alt="" width="240px" height="260px" />
                <h5>John Victor</h5>
                <div class="last">
                  <h6 id="uni">Authentication Developer</h6>
                </div>
              </div>
            </div>
        </div>
        <div class="well well-lg">
            <div class="col-md-4">
              <div class="feb">
                <img src="images/pius.png" alt="" width="240px" height="260px" />
                <h5>Pius Clark</h5>
                <div class="last">
                  <h6 id="uni">Scrum Master</h6>
                </div>
              </div>
            </div>
        </div>
        <div class="well well-lg">
            <div class="col-md-4">
              <div class="apr">
                <img src="images/deno.jpg" alt="" width="240px" height="260px" />
                <h5>Leah Gakii</h5>                
                <div class="last">
                  <h6 id="uni">Authentication Developer Associate</h6>
                </div>
              </div>
            </div>
            </div>
            
          </div>
{% endblock content %}